<div class="about">
    <div class="card-title">
        <h2> Acerca de </h2>
        <div class="btn-edit" (click)="onEdit()"> 
            <a href="#" class="btn-right" title="Editar Información Acerca de"> 
                <i class="fa-solid fa-pencil"></i>
            </a> 
        </div>
    </div>
    <div>
        <p id="text-about"> {{aboutPortfolio.about}} </p>
    </div>
    <div class="input-group" *ngIf="showFormulario">
        <span class="input-group-text">Acerca de:</span>
        <input 
            type="text"
            class="form-control"
            placeholder="Introducir aquí datos de interes acerca de usted" 
            [(ngModel)]="textoAcercaDe"
        >
            <button class="btn btn-primary" type="button" (click)="onSubmit()" id="btnSave">Guardar</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()" id="btnCancel">Cancelar</button>
    </div>
</div>
