<div class="card custom-card" id="about">
    <div class="card-title">
        <h2> Acerca de </h2>
        <div class="btn-edit" (click)="editAbout(dataAbout)"> 
            <a href="#" class="btn-right" title="Editar Información Acerca de"> 
                <i class="fa-solid fa-pencil"></i>
            </a> 
        </div>
    </div>
    <div>
        <span id="text-about"> {{dataAbout}} </span>
    </div>
    <div>
        <input  id="edit-about" title="Editar" type="text"  oninput="saveAbout(this.value)">
    </div>
</div>
