<div class="card custom-card" id="info-Header">

    <div id="info-background">
        <img class="backgnd-img" [src]="headerPortfolio.backImage" alt="Imagen Background">
    </div>
    <span class="btn text-primary" id="btn-edit-bk-img">
        <i class=" fa-solid fa-pencil"></i>
    </span>
    <div id="info">
        <div id="info-img">
            <img class="profile-img" [src]="headerPortfolio.profileImage" alt="Profile Image">
            <div class="btn text-primary btn-edit" (click)="onEdit(headerPortfolio)"> 
                <a href="#" title="Editar Foto Portfolio">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </div>
                <!--<div>
                    <input type="file" id="edit-image" onchange="showFile(this)" title="Edit Picture">
                </div> -->
        </div>

        <div id="info-data">
            <div id="profile-data">
               <div>
                    <h1> {{headerPortfolio.name}}</h1>
                    <span class="btn text-primary" (click)="onEdit(headerPortfolio)" routerLink="/edit-header">
                        <i class="fa-solid fa-pencil"></i>
                    </span>
                </div>
                <div> {{headerPortfolio.position}} </div>
                <div>
                    <span> {{headerPortfolio.location}} </span>
                    <span> <a [href]="'mailto://' + headerPortfolio.email">Informacion de Contacto</a></span>
                </div>
                <div id="info-actions">
                    <input type="button" class="btn btn-primary" value="Tengo interés en">
                    <input type="button" class="btn btn-light" value="Añadir Sección">
                    <input type="button" class="btn btn-light" value="Más">
                </div>
            </div>
            <div class="row" id="aboutme">
                <app-about></app-about>
            </div>
            {{headerPortfolio.name}}
        </div>
    </div>
</div>
