
<form 
class="edit-form" 
(ngSubmit)="onSubmit()"
>
  <h2 class="mb-3">Entrada de Datos</h2>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Experiencia Profesional:</span>
    <input 
      type="text" 
      class="form-control" 
      id="formControlInput1" 
      placeholder="Descripción de la Experiencia Profesional"
      [(ngModel)]="position"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Compañia:</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput2"
      placeholder="Nombre de la compañia donde laboró"
      [(ngModel)]="company"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Fecha de Inicio de Trabajo:</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput3"
      placeholder="Fecha de Inicio de su labor"
      [(ngModel)]="startDate"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Fecha de Final de Trabajo:</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput4"
      placeholder="Fecha de Finalización de su labor"
      [(ngModel)]="endDate"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Ciudad donde Laboró:</span>
    <input
      type="text"
      class="form-control"
      id="formControlInput5"
      placeholder="Ciudaddonde donde desempeño su labor"
      [(ngModel)]="city"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Pais donde Laboró:</span>
    <input
      type="text"
      class="form-control"
      id="formControlInput6"
      placeholder="País donde donde desempeño su labor"
      [(ngModel)]="country"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Logo de Compañia:</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput7"
      placeholder="Ruta de acceso a la imagen que identifica la compañia donde laboró"
      [(ngModel)]="logoUrl"
      [ngModelOptions]="{standalone:true}"
      >
  </div>

    <div class="btn-group container" role="group" aria-label="Basic form">
      <button class="btn btn-primary col-5" type="button" (click)="onSubmit()" routerLink="/" id="btnSave">Guardar</button>
      <button class="btn btn-primary col-5" type="button" routerLink="/" id="btnCancel">Cancelar</button>
    </div>
   
</form>