

<form 
class="edit-form" 
(ngSubmit)="onSubmit()"
>
  <h2 class="mb-3">Entrada de Datos</h2>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Institución Educativa:</span>
    <input 
      type="text" 
      class="form-control" 
      id="formControlInput1" 
      placeholder="Nombre de la Institución Educativa"
      [(ngModel)]="school"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Título Obtenido:</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput2"
      placeholder="Título Obtenido por los estudios"
      [(ngModel)]="title"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Año Inicio Estudios:</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput3"
      placeholder="Año de Inicio de sus Estudios"
      [(ngModel)]="startYear"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Año Finalización Estudios::</span>
    <input 
      type="text"
      class="form-control"
      id="formControlInput4"
      placeholder="Año de Finalización de sus Estudios"
      [(ngModel)]="endYear"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Logo de Institución Educativa:</span>
    <input 
    type="text"
    class="form-control"
    id="formControlInput5"
    placeholder="Ruta de acceso a la imagen que identifica el Logo de Institución Educativa"
    [(ngModel)]="logoUrl"
    [ngModelOptions]="{standalone:true}"
    >
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text col-3">Ciudad donde Laboró:</span>
    <input
      type="text"
      class="form-control"
      id="formControlInput6"
      placeholder="Descripcion de imagen de Institución"
      [(ngModel)]="description"
      [ngModelOptions]="{standalone:true}"
      >
  </div>
    <div class="btn-group container" role="group" aria-label="Basic form">
      <button class="btn btn-primary col-5" type="button" (click)="onSubmit()" routerLink="/" id="btnSave">Guardar</button>
      <button class="btn btn-primary col-5" type="button" routerLink="/" id="btnCancel">Cancelar</button>
    </div>
   
</form>