<div class="card custom-card" id="projects">
    <div class="card-title">
        <h2> Proyectos </h2>
        <div class="btn-add"> <a href="#"> <i class="fa-solid fa-plus"></i> </a> </div>
    </div>

    <ul class="pr-list">
        <li *ngFor="let proj of dataProject">

            <div>
                <h4> {{proj.title}} </h4>
                <div>
                    <a href="#"> <i class="fa-solid fa-pencil"></i> </a>
                    <a href="#"> <i class="fa-solid fa-trash-can"></i> </a>
                </div>
            </div>

            <p>{{proj.description}}</p>
        </li>
    </ul>
</div>
