<div class="card custom-card" id="education">
    <div class="card-title">
        <h2> Educación </h2>
        <div class="btn text-primary" (click)="onCreate()" routerLink="/edit-education"><i class="fa-solid fa-plus"></i></div>
    </div>

    <ul class="cv-list">
        <li class="cv-item" *ngFor="let education of dataEducation">
            <div class="cv-text">
                <img [src]="education.logoUrl" class="border border-0" [alt]="education.description">
                <div>
                    <h4> {{education.school}} </h4>
                    <p> 
                        {{education.title}}
                        <br>
                        {{education.startYear}}-{{education.endYear}}
                    </p>
                </div>
            </div>
            <div>
               
                <div class="btn text-primary" (click)="onEdit(education)"  routerLink="/edit-education"><i class="fa-solid fa-pencil"></i></div>
                <div class="btn text-primary" (click)="onDelete(education)"><i class="fa-solid fa-trash-can"></i></div>
            </div>
        </li>
    </ul>
</div>
