<div class="card custom-card" id="skills">
    <div class="card-title">
        <h2> Hard Skills & Soft Skills </h2>
        <div class="btn-add"> <a href="#"> <i class="fa-solid fa-plus"></i> </a> </div>
    </div>

    <div>
        <div class="bar-item">
            <p>Resolución de Problemas</p>
            <div>
                <a href="#"> <i class="fa-solid fa-pencil"></i> </a>
                <a href="#"> <i class="fa-solid fa-trash-can"></i> </a>
            </div>
        </div>

        <div class="progress rounded-0">
            <div class="progress-bar progress-bar-striped bg-success" id="bar1" role="progressbar"
                aria-label="Progress1" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%
            </div>
        </div>
    </div>

    <div>
        <div class="bar-item">
            <p>Diseño de Sistemas</p>
            <div>
                <a href="#"> <i class="fa-solid fa-pencil"></i> </a>
                <a href="#"> <i class="fa-solid fa-trash-can"></i> </a>
            </div>
        </div>

        <div class="progress rounded-0">
            <div class="progress-bar progress-bar-striped bg-success" id="bar2" role="progressbar"
                aria-label="Progress2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%
            </div>
        </div>
    </div>
</div>
