<div class="card custom-card" id="skills">
    <div class="card-title">
        <h2> Habilidades </h2>
        <div class="btn text-primary login" (click)="onCreate()" routerLink="/edit-skills"><i class="fa-solid fa-plus"></i></div>
    </div>

    <ul class="cv-list">
        <li *ngFor="let skill of dataSkills">
            <div class="pr-text">
                <div class="cv-text">
                    <i class="fa-solid fa-list-check text-primary"></i>      
                    <div>  
                        {{skill.description}} 
                    </div>
                </div>

                <div>
                    <div class="btn text-primary login me-1" (click)="onEdit(skill)"  routerLink="/edit-skills"><i class="fa-solid fa-pencil"></i></div>
                    <div class="btn text-primary login" (click)="onDelete(skill)"><i class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>

            <div class="progress rounded-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated" [id]="skill.id" role="progressbar"
                aria-label="Progresion de Skill"  [ngStyle]="{'width': skill.grade}" aria-valuemax="100"> {{skill.grade}}
                </div>
            </div>
        </li>
    </ul>
</div>
