<div class="card custom-card" id="skills">
    <div class="card-title">
        <h2> Hard Skills & Soft Skills </h2>
        <div class="btn-add"> <a href="#" title="Adicionar Skill"> <i class="fa-solid fa-plus"></i> </a> </div>
    </div>

    <ul class="cv-list">
        <li *ngFor="let skill of dataSkills" class="row">
            <div class="bar-item">
                <div class="col-8">  {{skill.description}} </div>
                <div class="col-4">
                    <div class="btn text-primary" (click)="onEdit()"><i class="fa-solid fa-pencil"></i></div>
                    <div class="btn text-primary" (click)="onDelete(skill)"><i class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>
            <div class="progress rounded-0 col-10">
                <div class="progress-bar progress-bar-striped bg-success" [id]="skill.id" role="progressbar"
                aria-label="Progresion de Skill"  [ngStyle]="{'width': skill.grade}" aria-valuemax="100"> {{skill.grade}}
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-text">Descripción Skill:</span>
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Descripción del Skill"
                    [(ngModel)]="description"
                >
                <span class="input-group-text">Proficiencia:</span>
                <input 
                    type="text"
                    class="form-control"
                    placeholder="proficiencia en el skill" 
                    [(ngModel)]="grade"
                >
                    <button class="btn btn-primary" type="button" (click)="onSubmit(skill)" id="btnSave">Guardar</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()" id="btnCancel">Cancelar</button>
            </div>
            {{description}}
        </li>
    </ul>
</div>
