<div id="topBar">
    <div class="titulo">
        <span >{{topBarPortfolio.title}}</span>
    </div>

    <div class="social">

        <a [href]="topBarPortfolio.twitterUrl" [title]="topBarPortfolio.twitterUrl">
            <img src="./assets/images/Twitter.jpg" alt="Twitter Logo">
        </a>
        <a [href]="topBarPortfolio.youTubeUrl" [title]="topBarPortfolio.youTubeUrl">
            <img src="./assets/images/youtube.jpg" alt="YouTube Logo">
        </a>
        <a [href]="topBarPortfolio.instagramUrl" [title]="topBarPortfolio.instagramUrl">
            <img src="./assets/images/Instagram.jpg" alt="Instagram Logo">
        </a>
        <input type="button" class="btn btn-primary" value="Login">
    </div>
</div>
