
#topBar {
    max-height: 60px;
    /* font-size: 20px;
    font-weight: 600; */
    background-color: black;
    border-radius: 10px;
}


.logo_programa img{
    max-height: 50px;
   
}

.social img {
    max-height: 40px;
}

