<div id="topBar">
    <div>
        <span>Rivelino Padilla</span>
    </div>

    <div>
        <a aria-label="riverpadilla on twitter" href="https://twitter.com/riverpadilla" title="Twitter">
            <img src="./assets/images/Twitter.jpg" alt="Twitter Logo">
        </a>
        <a aria-label="riverpadilla on YouTube" href="https://youtube.com/riverpadilla" title="YouTube">
            <img src="./assets/images/youtube.jpg" alt="YouTube Logo">
        </a>
        <a aria-label="riverpadilla on Instagram" href="https://www.instagram.com/rivernetinc/" title="Instagram">
            <img src="./assets/images/Instagram.jpg" alt="Instagram Logo">
        </a>
        <input type="button" class="btn btn-outline-success" value="Login">
    </div>
</div>

