<div id="topBar">
    <div class="logo_programa">
        <img src="./assets/images/APLogo.png" alt="Argentina Programa">
    </div>

    <div class="social">

        <a [href]="topBarPortfolio.githubUrl" [title]="topBarPortfolio.githubUrl">
            <img src="./assets/images/github.png" alt="Github Logo">
        </a>
        <a [href]="topBarPortfolio.twitterUrl" [title]="topBarPortfolio.twitterUrl">
            <img src="./assets/images/twitter.png" alt="Twitter Logo">
        </a>
        <a [href]="topBarPortfolio.facebookUrl" [title]="topBarPortfolio.facebookUrl">
            <img src="./assets/images/facebook.png" alt="Facebook Logo">
        </a>
        <a [href]="topBarPortfolio.instagramUrl" [title]="topBarPortfolio.instagramUrl">
            <img src="./assets/images/instagram.png" alt="Instagram Logo">
        </a>
        <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
    </div>
</div>
