
#topBar {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    border-radius: 10px;
}


.logo_programa {
    margin-left: 10px;
}

.logo_programa img{
    margin-top: 5px;
    height: 50px;
}

.social {
   margin-top: 10px;
}

.social img {
    height: 40px;
}

.social button {
    margin-left: 10px;
    margin-right: 20px;
}

