/* You can add global styles to this file, and also import other style files */

a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.fa-solid {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.custom-card {
    border-radius: 20px;
    margin: 10px 20px;
    padding: 20px;
    border-color: steelblue;
}


.card-title {
    display: flex;
    justify-content: space-between;
}

.cv-list {
    list-style: none;
}

.cv-list li {
    display: flex;
    justify-content: space-between;
}

.cv_item {
    display: flex;
}

.cv_item img {
    width: 80px;
    height: 40px;
    padding: 0px 20px;
}

#proyectos h4 {
    color: blue;
}


p {
    line-height: 1.2;
    font-size: 10pt;
}

.bar-item {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.pr-list {
    list-style: none;
}

.pr-list div {
    display: flex;
    justify-content: space-between;
}

#edit-image {
    display: none;
}

.edit-form {
    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 10px;
}

 .edit-form .container {
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
}
