<div class="card custom-card" id="experience">
    <div class="card-title">
        <h2> Experiencia </h2>
        <div class="btn-add"> <a href="#" title="Agregar"> <i class="fa-solid fa-plus"></i> </a> </div>
    </div>

    <ul class="cv-list">
        <li class="cv-item" *ngFor="let experience of dataExperience">
            <div class="cv-text">
                <img [src]="experience.logo" class="border border-0" alt="experience.description" [title]="experience.description">
                <div>
                    <h4> {{experience.position}} </h4>
                    <p> 
                        {{experience.company}} 
                        <br>
                        {{experience.period}} 
                        <br>
                        {{experience.location}}
                    </p>
                </div>
            </div>
            <div>
                <div class="btn text-primary" (click)="onEdit(experience)" routerLink="/edit-experience"><i class="fa-solid fa-pencil"></i></div>
                <div class="btn text-primary" (click)="onDelete(experience)"><i class="fa-solid fa-trash-can"></i></div>
            </div>
        </li>
    </ul>
</div>
