<div class="card custom-card" id="experience">
    <div class="card-title">
        <h2> Experiencia </h2>
        <div class="btn text-primary login" (click)="onCreate()" routerLink="/edit-experience"><i class="fa-solid fa-plus"></i></div>
    </div>

    <ul class="cv-list">
        <li class="cv-item" *ngFor="let experience of dataExperience">
            <div class="cv-text col-10">
                <img [src]="experience.logoUrl" class="border border-0" alt="experience.description" [title]="experience.description">
                <div>
                    <h4> {{experience.position}} </h4>
                    <p> 
                        {{experience.company}} 
                        <br>
                        {{experience.startDate}}-{{experience.endDate}}
                        <br>
                        {{experience.city}},{{experience.country}}
                    </p>
                </div>
            </div>
            <div>
                <div class="btn text-primary login me-1" (click)="onEdit(experience)" routerLink="/edit-experience"><i class="fa-solid fa-pencil"></i></div>
                <div class="btn text-primary login" (click)="onDelete(experience)"><i class="fa-solid fa-trash-can"></i></div>
            </div>
        </li>
    </ul>
</div>
